logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
app/api/v2/api-config.php
test
mobile/custom-modules
mobile/test.html
mobile/test2.html
mobile/cordova.js
mobile/cordova_plugins.js
plugins
Gruntfile.js
package.json