body, .ui-view-container {
    background:#F2F7FD;
    font-family:arial;
}
/**** begin angular css ***/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

/*** end angular css ***/

.setting-wrapper {
    padding-right:4.4em;
    position:relative;
}
.container {
    width:100%;
}

.menu-cover {
    position:fixed;
    width:100%;
    height:100vh;
    z-index:1;
    background:#F2F7FD;
}

.ui-view-container{
    z-index:2!important;
}
.time-button.active {
    background:#003366;
    color:white;
}
input, select, textarea {
    border-radius:4px;
    border-style:outset;
    border:1px solid #ddd;
}

.timetable {
    width:100%;
    text-align:center;
}
.timetable .aside {
    text-align: center;
    padding: .3em .3em .3em 0em;
    white-space: nowrap;
}

.timetable .head {
    width:33%;
}
textarea {
    font-size:1.2em;
    padding:3px 5px;
}

.afterHeader {
    position:relative;
}

#sc-menu {
    position:absolute;
    top:55px;
    bottom:0;
    width:70%;
    right:15px;
    background:#003366;
    color:white;
}

ul {
    -webkit-margin-after:0px;
    -webkit-padding-start:0px;
}

#sc-menu ul li {
    border-top:1px solid;
    padding:.8em 0em;
}

#sc-menu i {
    vertical-align:middle;
}

#sc-menu ul li span {
    font-weight:bold;
    font-size:1.25em;
    display:inline-block;
    vertical-align:middle;
}

#sc-menu ul li:last-of-type {
    border-bottom:1px solid;
}

#sc-menu i {
    display:inline-block;
    font-size:1.5em;
    text-align:center;
    width:2em;
}

li {
    list-style-type:none;
}

.body-wrapper {
    margin:0px 8px;
}

h1,h2,h3 {
    margin:0;
}

.btn:hover {
    color:#F2F7FD;
}

input {
    width:100%;
}
.sep {
    margin-top:25px;
}
.sep-buttons {
    margin-top:30px;
}

.time {
    text-align:center;
    border:1px solid;
}

.time-buttons div:not(:first-child) {
    margin-left:1%;
}

.time-button {
    display:inline-block;
    width:32.66%;
    text-align:center;
    background:white;
    border:2px solid #ddd;
    color:#003366;
    border-radius:5px;
    padding:14px 0;
    float: left;
    font: bold 12px Arial!important;
    max-width: 32.66%!important;
}
.time-button.selected {
    background-color:#003366;
}
#step2 textarea {
    height:108px;
    width:100%;
    -webkit-appearance: none;
    resize:none;
    outline:none;
}
#back img {
    height:22px;
    width:30px;
}
/* fonts */
@font-face {
    font-family: 'League_Gothic';
    src: url("/augie/ng/League-Gothic-fontfacekit/League_Gothic-webfont.ttf"),
    url('/augie/ng/League-Gothic-fontfacekit/League_Gothic-webfont.eot'), /* IE9 */
    url('/augie/ng/League-Gothic-fontfacekit/League_Gothic-webfont.woff');
}

h1{
    font-family:League_Gothic;
    color:#003366;
}

h3 {
    font-style:italic;
    font-size:.9em;
    text-align:center;
}

header .icon {
    display:inline-block;
}

#back {
    float:left;
    margin-top:7px;
}

#loader {
    float:left;
}

#menu {
    float:right;
    font-size:25px;
}

#logo img {
    height:30px;
}

header {
    position:relative;
    background: #003366;
    color:white;
    padding:10px;
}

#logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    margin:0 auto;
    text-align: center;
}

.action-button {
    border-radius: 4px;
    background: #003366;
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-size: 1.5em;
    padding: 15px;
    -webkit-appearance: none;
    border: 1px solid rgb(0, 30, 107);
    box-shadow: inset 0px 1px 1px 0px rgb(147, 186, 255);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgb(147, 186, 255);
    border-style: outset;
}

select {
    width:100%;
    padding:10px 0px;
}

.where-text-wrap {
    padding-right:3em;
    /*font-size:initial;*/
}

.where-text-innerwrap {
    float:left;
    width:100%;
}

.where-button-image {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: url(/augie/ng/app/img/geolocate.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:60%;
}

#where-button {
    position:relative;
    float:right;
    padding: 1.18em;
    background:#003366;
    border-radius:4px;
}

input {
    padding:8px 5px;
}
.input-em {
    font-size:1.4em;
}

#step2a input {
    font-size:1.5em;
}























/* ANIMATIONS */
.well[ui-view]{
    min-height: 100%;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}
.menu-cover {
    -webkit-transition:all .3s ease-in-out!important;
    -moz-transition:all .3s ease-in-out!important;
    -o-transition:all .3s ease-in-ou!importantt;
    transition:all .3s ease-in-out!important;
    position:absolute;
    left:0;
}
.body-animate {
    position:relative;
    z-index:1;
    left:0;
    -webkit-transition:all .3s ease-in-out!important;
    -moz-transition:all .3s ease-in-out!important;
    -o-transition:all .3s ease-in-ou!importantt;
    transition:all .3s ease-in-out!important;
}
.menuActive {
    left: -70%;
}
.hidden {
    display:none;
}