/* Custom quotogenic media query additions */
/* Extra Small */
@media (max-width:500px) {
	.quote-window .photo {
		width:33%;
		display:inline-block;
	}
	.quote-window .photo ~ .photo ~ .photo ~ .photo {
		display:none;
	}
}

/* Medium */
@media (max-width:800px) AND (min-width:501px) {
	.quote-window .photo {
		width:25%;
		display:inline-block;
	}
	.quote-window .photo ~ .photo ~ .photo ~ .photo  ~.photo{
		display:none;
	}
}

/* Large */
@media (min-width:801px) {
	.quote-window .photo {
		width:20%;
		display:inline-block;
	}
	.quote-window .photo ~ .photo ~ .photo ~ .photo  ~ .photo ~ .photo{
		display:none;
	}
}