.status {
    font-weight: bold;
    font-size:1.2em;
}

.name {
    font-weight:bold;
    font-size:1em;
}

.location {
    color:#aaa;
    font-weight:.9em;
}

.statuses td.info {
    width:63%;
}

.statuses td.icon {
    width:20%;
}

.statuses td.marker {
    width:17%;
}
.reviews td.marker {
    width:10%;
}

.reviews td.info {
    width: 30%;
}

#searching-for-businesses {
    margin-top:1em;
}
#company-reviews, #request-statuses {
    width:100%;
    background:white;
    border:2px solid #ddd;
    border-radius:10px;
    margin-top:1em;
}
.statuses, .reviews {
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
    /*min-width: 350px;*/
}

.statuses .info {
    padding:.4em;
}
.reviews .info {
    padding: 1.3em 0em; /* pads the logos */
}
.reviews .info {
    font-size:.85em;
}

.reviews .logo {
    width:20%;
}
.info .name, .info .location {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.statuses tr:not(:last-of-type),
.reviews tr:not(:last-of-type){
    border-bottom:1px solid #ddd;
}

.statuses td.marker,
.reviews td.marker{
    text-align: center;
    width: 17%;
    height: 80%;
    background: url("../img/SCMapMarker.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -1px;
}

.reviews .marker-space {
    width:10%;
}

.statuses td.marker div::after,
.reviews td.marker div:after{
    font-size: 15px;
    content: attr(rel);
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    position: relative;
    top: -18px;
    left: 0px;
}

.reviews td.marker div:after {
    font-size: 10px;
    position: relative;
    top: -15px;
}

.reviews td.marker {
    background-size: 18px;
}
.statuses .icon {
    width: 20%;
    background-size: 38px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.statuses .icon.accepted, .SCMapInfoBox-icon.hungup {
    visibility: visible;
    background: url("../img/call_accepted.png");
}
.statuses .icon.answered, .SCMapInfoBox-icon.answered {
    visibility: visible;
    background: url("../img/call_answered.png");
}
.statuses .icon.calling, .SCMapInfoBox-icon.calling {
    visibility: visible;
    background: url("../img/call_calling.png");
}
.statuses .icon.connecting, .SCMapInfoBox-icon.connecting {
    visibility: visible;
    background: url("../img/call_connecting.png");
}
.statuses .icon.declined, .SCMapInfoBox-icon.declined {
    visibility: visible;
    background: url("../img/call_declined.png");
}
.statuses .icon.onhold, .SCMapInfoBox-icon.onhold {
    visibility: visible;
    background: url("../img/call_hold.png");
}
.statuses .icon.hungup, .SCMapInfoBox-icon.hungup {
    visibility: visible;
    background: url("../img/call_hungup.png");
}

.logo div {
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    width: 100%;
    height: 100%;
}

.logo {
    width: 20%;
    height: 35px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
.yelp-logo div {
    background: url("../img/yelp.png");
    width: 70%;
    height: 100%;
    position: relative;
    top: -2px;
}

.citysearch-logo div {
    background: url("../img/citysearch.png");
}

.google-logo div {
    width: 80%;
    background: url("../img/google.png");
    top:2px;
    position:relative;
}

.logo div {
    margin: 0 auto;
}
.reviews td {
    border-width: 0px 5px 0px 0px;
    border-style: solid;
    border-color: transparent;
}

.rating.text {
    text-align:center
}
.rating.stars {
    text-align:center;
    background-position-x: center;
    background-position-x: 20%;
    background-size:100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 85px;
    /*
    min-width:30px;
    */
    background-position-y: 2%;
    background-size: cover!important;
}

.yelp .stars {
    background: url("../img/yelp_sprite.png");
}

.google .stars {
    background: url("../img/yahoo_sprite.png");
}

.citysearch .stars {
    background: url("../img/citysearch_sprite.png");
}

.rating.loading {
    height: 20px;
    width: 40px;
    background: url("../img/ajax-loader-small.gif");
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}

.rating .num-ratings {
    font-size:.8em;
}

.rating .n-a {
    font-size:1.1em;
}

/* this might make it so you cannot scroll when items are added to the page, need to figure this out........ */
/*
.ng-enter {
    -webkit-transition: .65s linear all;
    transition: .65s linear all;
    opacity: 0;
}

.ng-enter-active {
    opacity: 1;
}
*/