<!-- quotes column -->
<div ng-cloak class="nopadding col-md-12 col-sm-12">
	<div class="feed1">
		<div class="feed-object" ng-repeat="quote in quoteFactory.quotes">
			<div class="quote-window">
				<!-- begin quote-block directive, need to make it so loading this does not flicker -->

                <quote-block quote="quote" showOptions="true"></quote-block>
				<!-- end quote-block directive -->
				<!-- quote images -->
				<div class="row no-gutter">
					<div class="photo col-md-4" ng-repeat="photo in quote.media.photos.data">
						<!-- image -->
						<img ui-sref="photo({ id : {{photo.photoMapID}} })" ng-bind="photo.images" style="width:100%;" ng-src="{{photo.images.thumbnail.url}}"/>
						<rating-bar photo="photo">
						</rating-bar>
					</div>
				</div>
			</div>
			<!-- quote tags -->
			<div class="quote-tag" ng-repeat="tag in quote.tags track by tag.id">
				<a ui-sref="filter({type : 'tag', value: {{'tag.tag'}}})">
					{{tag.tag}}
				</a>
			</div>
		</div>
	</div>
	<div class="next-page" infinite-scroll="quoteFactory.nextPage()" infinite-scroll-distance="0">Load More</div>
</div>
<!--
<br/>
before ui-view
<div ui-view></div>
after ui-view
<br/>
<a ui-sref=".tag">Tag</a>
-->
<!-- sidebar -->

<!-- COLUMN TWO NAMED VIEW 
<div class="col-md-4 col-xs-0">
	<div ui-view="columnTwo"></div>
</div>-->
		<!--
	<div class="col-md-8 col-sm-12">
		<div class="row feed-object" ng-repeat="quote in quotes">
			<div class="quote-window">
				<div class="row">
					<div class="col-md-1">
						<div class="rating-block">
							<i class="fa fa-chevron-up"></i>
							<div class="quote-score">{{quote.score}}</div>
							<i class="fa fa-chevron-down"></i>
						</div>
					</div>
					<div class="col-md-10">
						<div class="quote">
							<i class="quotation quotation-left fa-quote-left fa"></i>
							{{quote.quote}}
							<i class="quotation quotation-right fa-quote-right fa"></i>
						</div>
					</div>
					<div class="col-md-1">
					</div>
				</div>
				<div class="row">
					pictures
				</div>
			</div>
			<div class="quote-tag" ng-repeat="tag in quote.tags track by tag.id">
				{{tag.tag}}
			</div>
		</div>
	</div>
		-->