<!-- Begin Information Page -->
<div class="sep"></div>
<h1>WATCH OUR VIDEO</h1>
<div class="video-box noGPUAccel">
    <iframe src="http://player.vimeo.com/video/41472479?byline=0&amp;portrait=0&amp;color=ff9933" height="200" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
    </iframe>
	<!--
	<div id="info-play_video" class="video-box">
	-->
		<!-- video sample.  Loaded dynamically
		<iframe src="http://player.vimeo.com/video/41472479?byline=0&amp;portrait=0&amp;color=ff9933" width="100%" height="200" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
		</iframe>
		-->
	<!--
	</div>

	<iframe src="http://player.vimeo.com/video/41472479?byline=0&amp;portrait=0&amp;color=ff9933" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
</div>

<div class="sep"></div>
<h1>WHAT IS SEVA CALL?</h1>
<div>
    Seva Call finds local professionals that can help with your service need instantly, like a free personal concierge service. Within minutes you will receive calls
    from providers that can service your specific problem, on your schedule, at your location.
</div>

<div class="sep"></div>
<h1>CONTACT US</h1>
<ul>
    <li>
        <a href="tel:18779877382">1-877-987-SEVA</a>
    </li>
    <li>
        <a href="mailto:mobileapp@sevacall.com?subject=Seva Call's Mobile App">mobileapp@sevacall.com</a>
    </li>
    <li>
        <a href="http://www.sevacall.com">http://www.sevacall.com</a>
    </li>
</ul>
<!-- End Information Page -->