<!-- photo -->
<div class="photo-single nopadding col-md-12 col-sm-12">
	<quote-block quote="photoMap.data.quote" options="false"></quote-block>
	<div class="photo-meta clearfix">
		<div class="username">
			<i class="fa fa-user"></i> {{photoMap.data.photo.username}}
		</div>
		<div class="timestamp">
			<i class="fa fa-clock-o"></i> {{photoMap.data.photo.time_elapsed}}
		</div>
	</div>
	<div class="single">
		<div class="photo">
			<img ng-src="{{photoMap.data.photo.images.medium_resolution}}"/>
		</div>
		<rating-bar photo="photoMap.data.photo" size="'large'"></rating-bar>
	</div>
</div>
		