<div class="quote-box row no-gutter">
	<!-- quote score -->
	<div ng-show="options" class="col-md-1 col-xs-1">
		<div class="rating-block">
			<i ng-class="{active:quote.interaction.liked}" class="vote fa fa-chevron-up"></i>
			<div class="quote-score">{{quote.score}}</div>
			<i ng-class="{active:quote.interaction.disliked}" class="vote fa fa-chevron-down"></i>
		</div>
	</div>
	<!-- quote -->
	<div class="col-md-12 col-xs-12" ng-class="{'cold-md-10 col-xs-10' : options}">
		<!-- quote text -->
		<div class="quote">
			<i class="quotation quotation-left fa-quote-left fa"></i>
				{{quote.quote}}
			<i class="quotation quotation-right fa-quote-right fa"></i>
		</div>
		<!-- quote media -->
		<div class="media">
			<a ui-sref="filter({type : 'author', value: {{'quote.author'}}})">
				{{quote.author}}
			</a>
		</div>
	</div>
	<!-- favorite -->
	<div ng-show="{{options}}" class="col-md-1 col-xs-1">
		<div class="favorite">
			<i class="fa fa-heart-o"></i>
		</div>
	</div>
</div>