<div class="directive-rating-bar">
	<!-- image like -->
	<span ng-class="{active:photo.interaction.likedByUser}" class="thumbs-up">
		<i ng-class="{'active fa-thumbs-up':photo.interaction.likedByUser}"  class="fa fa-thumbs-o-up"></i>
	</span>
	<!-- image dislike -->
	<span class="thumbs-down">
		<i ng-class="{'active fa-thumbs-down':photo.interaction.dislikedByUser}"   class="fa fa-thumbs-o-down"></i>
	</span>
	<div class="rating-wrapper">
		<div class="rating-bar-wrapper">
			<span class="rating-bar" ng-class="{'active' : photo.likes + photo.dislikes}"></span>
			<span class="rating-bar-painted" ng-style="{width : ((photo.likes / (photo.likes + photo.dislikes)) * 100) + '%'}" ></span>
		</div>
	</div>
</div>