<div class="popular-wrapper">
	<h2>Popular Tags</h2>
	<div class="popular">
		<div class="quote-tag" ng-repeat="tag in popularTags.items">
			<a ui-sref="filter({type : {{'tag.type'}}, value: {{'tag.value'}}})">
				{{tag.value}}
			</a>
		</div>
	</div>
	<load-more ng-click="popularTags.nextPage()">
		Load More
	</load-more>
</div>
<div class="popular-wrapper">
	<h2>Popular Authors</h2>
	<div class="popular">
		<div class="author" ng-repeat="author in popularAuthors.items">
			<a ui-sref="filter({type : {{'author.type'}}, value: {{'author.value'}}})">
				{{author.value}}
			</a>
		</div>
	</div>
	<load-more ng-click="popularAuthors.nextPage()">
		Load More
	</load-more>
</div>