<div id="step2">
    <form ng-submit="next()">
        <div class="sep"></div>
        <h1>DESCRIBE WHAT YOU NEED</h1>
        <div id="description-button" class="action-button button" ng-show="isPhoneGap" ui-sref="recording">
            <a href="#"></a>
        </div>
        <div class="description-wrapper" ng-class="{active : isPhoneGap}">
            <textarea maxlength="500" placeholder="Describe what you need help with in as much detail as possible..." ng-model="Request.description"></textarea>
        </div>
        <div class="sep"></div>
        <h1>AND WHEN YOU WANT IT</h1>
        <div class="time-buttons clearfix">
            <div class="time-button" ng-class="{active : Times.buttons.now}" ng-click="Times.changeTime('now');">
                NOW
            </div>
            <div class="time-button" ng-class="{active : Times.buttons.anytime}" ng-click="Times.changeTime('anytime');">
                ANYTIME
            </div>
            <div class="time-button" ng-class="{active : Times.timesActive.length > 0}" ng-click="Times.changeTime('pick_time'); timetable()">
                PICK TIME
            </div>
        </div>
        <div class="sep-buttons"></div>
        <input type="submit" ng-click="next()" action-button text="'Next'"/>
    </form>
</div>