.setting-wrapper {
    position:relative;
}
.setting-wrapper i {
    position: absolute;
    right: 0px;
    top: 0em;
    width:3.3em;
    height:3.3em;
    border-radius: 5px;
}
.setting-wrapper i.valid {
    box-shadow: inset 0px 2px 0px 0px #C6ECC1;
    border: 1px solid #0B3B17;
    background: rgb(151,204,106); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(151,204,106,1) 0%, rgba(122,183,69,1) 49%, rgba(110,178,21,1) 51%, rgba(64,132,15,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,204,106,1)), color-stop(49%,rgba(122,183,69,1)), color-stop(51%,rgba(110,178,21,1)), color-stop(100%,rgba(64,132,15,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(151,204,106,1) 0%,rgba(122,183,69,1) 49%,rgba(110,178,21,1) 51%,rgba(64,132,15,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(151,204,106,1) 0%,rgba(122,183,69,1) 49%,rgba(110,178,21,1) 51%,rgba(64,132,15,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(151,204,106,1) 0%,rgba(122,183,69,1) 49%,rgba(110,178,21,1) 51%,rgba(64,132,15,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(151,204,106,1) 0%,rgba(122,183,69,1) 49%,rgba(110,178,21,1) 51%,rgba(64,132,15,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97cc6a', endColorstr='#40840f',GradientType=0 ); /* IE6-9 */
}
.secure {
    position: absolute;
    left: 0;
    top: -1px;
    right: 1px;
    bottom: 0;
    background: url(../img/insecure.png);
    background-size: 60%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
.setting-wrapper i.valid .secure {
    background: url(../img/secure.png);
}