<div id="step1" class="GPUAccel">
    <form ng-submit="next()" class="GPUAccel">
        <div class="sep"></div>
        <h1 class="category-title">I NEED A</h1>
        <div class="what" tl-select></div>
        <div class="sep"></div>
        <h1 class="where-title">NEAR</h1>
        <div class="input-em GPUAccel where clearfix" tl-where></div>
        <div class="clearfix"></div>
        <div class="sep"></div>
        <h3>We'll connect you with local businesses instantly!</h3>
        <div class="sep"></div>
        <div ng-click="next()" action-button menu="menu" text="'Next'" class="clearfix"></div>
    </form>
</div>